* {
    box-sizing: border-box;
}

/* To Keep Navagation and Back to top bar till end of footer, all are full width */
body {
    margin: 0;
    padding: 0;
}


/* First Block of Top Navagation Bar */
/* Parent */
.top-nav-bar {
    min-height: 100px;
    width: 100%;
    background-color: #0F1111;
    color: #ffffff;
}

/* Child */
/* Left Top Nav (Logo + Location) */
.nav-bar-left {
    float: left;
    width: 20%;
    padding: 10px;
}

/* Amazon logo image */
.nav-logo img {
    width: 100px;
    height: auto;
    float: left;
}
/* Location Wordings */
.nav-logo p {
    margin: 5px 0 0 10px;
    width: 50%;
    float: left;
}
/* End of Left Top Nav */

/* Center Nav (Search) */
/* Parent */
.nav-bar-search {
    float: left;
    width: 55%;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Child -- All Categories selection */
.nav-bar-search select {
    float: left;
    width: 10%;
    height: 40px;
}

/* Child -- Search Input Bar */
.nav-bar-search input {
    float: left;
    width: 80%;
    height: 40px;
}

/* Child -- Search button */
.nav-bar-search button {
    float: left;
    width: 10%;
    height: 40px;
    background-color: #ffd914;
}
/* End of Center Top Nav Bar */

/* Right Nav (Language,Account,Order,Cart) */
.nav-bar-right {
    float: right;
    width: 25%;
    padding-top: 20px;

}

/* Lauguage :EN  */
.nav-bar-language {
    float: left;
    width: 20%;
}

/* Sign in and Orders with longer wording, increase to width 30% */
/* Sign in Wordings */
.nav-bar-signin {
    float: left;
    width: 30%;
}

/* Return & Orders */
.nav-bar-orders {
    float: left;
    width: 30%;
}

/* Cart */
.nav-bar-cart {
    float: left;
    width: 20%;
}

/* End of Right Top Nav Bar */
/* End of First Block Top Nav Bar */


/* Second Block Top Nav Bar (Category) */
.bottom-nav-bar {
    width: 100%;
    height: 40px;
    background-color: #232f3e;
    color: white;
/* No margin and padding to stick the top nav bar */
    margin: 0;
    padding: 0; 
}

/* Category Tabs */
/* Parent */
.bottom-nav-left{
    float: left;
    padding-left: 0px;
    margin: 0;
}

/* Each tab */
.bottom-nav-left li {
    float: left;
    padding: 10px 10px;
    font-size: 14px;
    list-style-type: none;
}

/* Bold Weight of All */
.tab-font-weight {
    font-weight: bold;
}

/* Promotion wordings in right bottom nav bar */
.bottom-nav-right{
    float: right;
    padding: 10px 10px;
    margin: 0;
}
/* End of Second Block of Top Nav Bar */


/* Start of Product Cards */

/* 1st Promotion Product Block */
/* Promotion Product Parent Block */
.promotion-product-block {
    width: 92%;
    height: 500px;
    margin: 10px auto;
    background-color: #ffffff;
    color: #000000;
    overflow: hidden;
}

/* Promotion Product Child images */
.promotion-product-cards img {
    float:left;
    /* Equally divide the width of the parent container by 5 to fit 5 images in a row, and set the height to 50% of the parent container. Add some margin and border radius for better appearance */
    width: 19.2%;
    height: 50%;
    margin: 5px;
    border-radius: 10px;
}


/* 2nd Promotion Product Block : Halloween Promotion */
/* Parent Block */
.halloween-promotion-product-block {
    width: 92%;
    margin: 20px auto;
    background-color: #ffffff;
    color: #000000;
    overflow: hidden;
}

/* Child -- Cards Parents */
.halloween-promotion-product-cards {
    width: 100%;
    margin: 0;
}

/* Align with the left side of the parent container and add some padding to the left for better appearance */
.halloween-promotion-product-cards h3 {
    margin: 0 0 10px 5px;
    padding: 0;
}

/* Child of product-cards | Individual Product Card */
.product-card {
    float: left;
    width: 9.8%;
    margin-right: 1%;
}

/* Individual Product Card Images */
.product-card img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.deal-info {
    margin-top: 7px;
}

/* Discount wordings : 15% off */
.halloween-discount {
    color: red;
}

/* Discount wording : Limited time deal */
.halloween-limited-deal {
    color: red;
    font-weight: bold;
}

/* End of 2nd Promotion Product Block */


/* Design of Third, Fifth and Sixth Product Card */
/* Parent */
.third-product-card-block {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 15px;
    padding: 12px;
    box-sizing: border-box;
    /* Usage */
    /* Clear: both : Start the block after the previous block and not allow any elements to float next to it. */
    /* Overflow: hidden : Hide any content that overflows the block. */
    clear: both;
    overflow: hidden;
}

/* Each Product block, 2 as rows */
.third-product-card-item {
    float: left;
    width: 23%;
    margin-right: 2%;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 15px;
    padding: 12px;
}

.third-product-card-title {
    font-size: 18px;
}

/* Child Items */
.third-product-block-items{
    float: left;
    width: 50%;
    padding: 5px;
}

.third-product-block-items img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

/* End of Third, Fifth and Sixth Product Card */


/* Fourth Product Card Block */
/* Parent */
.fourth-product-card-item {
    float: left;
    width: 23%;
    margin-right: 2%;
    background-color: blue;
    border: 1px solid #dddddd;
    border-radius: 15px;
    padding: 12px;
    overflow: hidden;
}

/* Child -- Title */
.fourth-product-card-title {
    font-size: 15px;
    color: white;
}

/* End of Fourth Product Card Block */


/* Recommendation Block */
/* Parent */
.recommendation_block {
    width: 100%;
    background-color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

/* Child -- Heading 3 */
.recommendation_block h3 {
    margin: 0 0 10px 0;
    color: black;
    font-weight: bold;
}

/* Child -- Button */
.recommendation_block button {
    display: block;
    width: 25%;
    height:40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background-color: #ffd914;
    border-radius: 30px;
    border: none;
}

/* Child -- Block Wordings */
.recommendation_block_wordings {
    display: block;
    font-weight: light;
    align-items: center;
    text-align: center;
}
/* End of Recommendation Block */


/* Back to top bar */
/* Parent */
.backtotop {
    width: 100%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #37475A;
    color: white;
    overflow: hidden;
}

/* Purpose: Let the wording "Back to top" be centered in the bar and have no margin around it */
.backtotop p {
    margin: 0;
    padding: 10px 0;
}
/* End of Back to top bar */


/* Start of footer*/

/*First block of the Footer*/
/* Parent */
.footer_first_block {
    width: 100%;
    height: 500px;
    background-color: #232f3e;
    color: white;
    padding-top: 35px;
    padding-left: 15%;
    padding-right: 15%;
    overflow: hidden;
}

/* Child -- Heading 4 */
.footer_first_block h4 {
    margin: 0 0 10px 0;
    color: white;
    font-weight: bold;
    padding-top: 20px;
}

/* Child -- Each items Parent */
.footer_first_block_items {
    float: left;
    width: 25%;
    padding: 10px 20px;

}

/* Child of Block_items -- Unorder List */
.footer_first_block_items ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Child of Block_items -- List Content */
.footer_first_block_items li {
    padding: 5px 0;
    font-size: 14px;
}
/* End of first block of the footer */

/* Second block of the Footer */
.footer_second_block {
    width: 100%;
    height: 200px;
    background-color: #232f3e;
    color: white;
    padding-top: 35px;
    padding-left: 35%;
    padding-right: 35%;
    overflow: hidden;
}

.footer_second_block_logo {
    float: left;
    width: 30%;
    padding: 10px;
}

.footer_second_block_logo img{
    width: 100px;
    height: auto;
    float: left;
}

.footer_second_block_language_currency {
    float: left;
    width: 70%;
}

.footer_second_block_language_currency button {
    float: left;
    width: 150px;
    height: 35px;
    margin-right: 8px;
    background-color: #232f3e;
    color: white;
    border: 1px solid #848e9a;
    border-radius: 3px;
}
/* End of second block of the footer */

/* Third block of the Footer (Similar as First block of footer)*/
.footer_third_block {
    width: 100%;
    height: 550px;
    background-color: #0F1111;
    color: white;
    padding-top: 35px;
    padding-left: 15%;
    padding-right: 15%;
    overflow: hidden;
}

.footer_third_block h5 {
    margin: 0 0 10px 0;
    color: white;
    font-weight: bold;
    padding-top: 20px;
}

.footer_third_block_items {
    float: left;
    /* 100% / 7 columns */
    width: 14.28%;
    padding: 10px 20px;

}

.footer_third_block_items ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer_third_block_items li {
    padding: 5px 0;
    font-size: 10px;
}

/* Third Block 5th row */
.footer_third_block_5throw {
    width: 100%;
}

.footer_third_block_5th_items {
    float: left;
    width: 14.28%;
    padding: 10px 20px;
    box-sizing: border-box;
}

/* In order to start the 5th row first column align with the third columns of previous rows */
/* Adding 2 columns width as the margin 14.28%*2 = 28.57% */
.footer_third_block_5th_items:first-child {
    margin-left: 28.57%;
}

.footer_third_block_5th_items ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer_third_block_5th_items li {
    padding: 5px 0;
    font-size: 10px;
}
/* End of third block of the footer */

/* Fourth Block of the footer */

/* Parent */
.footer_fourth_block {
    width: 100%;
    background-color: #0F1111;
    color: #ffffff;
    height: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-sizing: border-box;
    overflow: hidden;
}

/* Conditions row */
.footer_fourth_block_1strow {
    text-align: center;
    width: 100%;
    font-size: 10px;
}

/* Spaces between each span */
.footer_fourth_block_1strow span {
    margin-right: 15px;
}

/* Copyright row */
.footer_fourth_block_2ndrow {
    text-align: center;
    width: 100%;
    font-size: 10px;
}

/* Top margin between conditions row and copyright row */
.footer_fourth_block_2ndrow p {
    margin: 8px 0 0 0;
}

/* End of Fourth Block of the footer */
/* End of the Footer */


